html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* ################## */
/* font families */
.prata {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

.calli {
  font-family: "Calligraffitti", cursive;
  font-weight: 600;
  font-style: normal;
}

.jost {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* ################## */
/* about-bck */
#about-bck {
  background: url("img/21.jpg") rgba(0, 0, 0, 0.35);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  height: 70vh;
  display: flex;
  align-items: center;
  text-align: center;
 
}

/* ################## */
/* rooms */
.rms-height {
  height: 400px;
  width: 100%;
}

.room-content {
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.room-info {
  padding: 30px 20px;
  background-color: whitesmoke;
}

.room-content .room-img {
  border-top-left-radius: 10px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.room-img img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.room-content:hover .room-img img {
  transform: scale(1.1) rotate(-2deg);
}
@media only screen and (min-width: 300px) {
  .room-info .div {
    display: flex;
    justify-content: space-between;
  }
}

.room-info h6 {
  font-family: "Outfit", sans-serif;
  color: #616161;
}

.room-info h3 {
  font-family: "Prata", serif;
  font-weight: bold;
}

.room-info p {
  font-family: "Outfit", sans-serif;
  border-bottom: 1px dashed grey;
  padding-bottom: 15px;
}

/* ################## */
/* buttons */
.btn_about {
  text-decoration: none;
  background: none;
  border: 0;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 0.05em;
  position: relative;
  padding: 0;
  margin-bottom: 10px;
}

.btn_about::before {
  position: absolute;
  bottom: -2px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #193B6B;
  content: "";
  transition: transform 0.2s ease;
  transform-origin: 100% 0;
}

.btn_about:hover:before {
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}

.btn_about-1 {
  text-decoration: none;
  background: none;
  border: 0;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 0.05em;
  position: relative;
  padding: 0;
  margin-bottom: 10px;
}

.btn_about-1::before {
  position: absolute;
  bottom: -2px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: white;
  content: "";
  transition: transform 0.2s ease;
  transform-origin: 100% 0;
}

.btn_about-1:hover:before {
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}

.room-lower h4 {
  color: #616161a4;
  font-family: "Poppins", sans-serif;
}

@media only screen and (min-width: 300px) {
  .room-lower {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 300px) {
  #intro {
    margin: auto;
  }
}
/* button-2 */

/* ################## */
/*BUTTONS CLASS*/
#button,
#button::after {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

#button {
  background: #193B6B;
  border: 2px solid #193B6B !important;
  border-radius: 5px;
  color: white !important;
  font-size: 15px;
  font-weight: bold;
  padding: 13px 30px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.6s ease-in-out;
  font-family: "Outfit", sans-serif;
  border-radius: 5px;
  box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.2);
}

#button::before,
#button::after {
  background: white !important;
  content: "";
  position: absolute;
  z-index: -1;
}

#button:hover {
  color: #122533 !important;
  transform: scale(1);
  border: 2px solid #122533 !important;
}

.btn-3 {
  overflow: hidden;
}

.btn-3::after {
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  width: 0;
}

.btn-3:hover:after {
  height: 100%;
  width: 100%;
}

.btn-3::before {
  height: 100%;
  right: -35%;
  bottom: 0;
  transform: skew(50deg);
  transition: all 0.6s ease-in-out;

  width: 0;
}

.btn-3:hover:before {
  height: 100%;
  width: 100%;
}

#button5,
#button5::after {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

#button5 {
  background: none;
  border: 2px solid #193B6B !important;
  border-radius: 5px;
  color: #8ed3ee !important;
  font-size: 15px;
  font-weight: bold;
  padding: 13px 30px;

  position: relative;
  text-transform: uppercase;
  transition: all 0.6s ease-in-out;
  font-family: "Outfit", sans-serif;
  border-radius: 5px;
  box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.2);
}

#button5::before,
#button5::after {
  background: #193B6B !important;
  content: "";
  position: absolute;
  z-index: -1;
}

#button5:hover {
  color: white !important;
  transform: scale(1);
  border: 2px solid #8ed3ee !important;
}
.btn-5 {
  overflow: hidden;
}

.btn-5::after {
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);

  width: 0;
}

.btn-5:hover:after {
  height: 100%;
  width: 100%;
}

.btn-5::before {
  height: 100%;
  right: -35%;
  bottom: 0;
  transform: skew(50deg);
  transition: all 0.6s ease-in-out;

  width: 0;
}

.btn-5:hover:before {
  height: 100%;
  width: 100%;
}

/* ################## */
/* gallery */
#gallery-bck {
  background: url("img/19.jpg") rgba(0, 0, 0, 0.35);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  height: 70vh;
  display: flex;
  align-items: center;
  text-align: center;
  background-attachment: fixed;
}
@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
/*  Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: white;
  height: 300px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  &::before {
    left: 0;
    top: 0;
  }
  .slide-track {
    animation: scroll linear infinite;
    animation-duration: 35s;
    display: flex;
    width: calc(250px * 14);
  }
}
.slide {
  margin-right: 15px !important;
}

.contii {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slide-wrapper {
  white-space: nowrap;
  animation: slide 17s linear infinite;
  margin: 10px;
}

.slide-item {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.slide-item img {
  width: 100%;
  height: 300px;
  margin: 0 30px;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* ################## */
/* facilities */
.facilities-ds h5 {
  color: #122533;
  font-size: 22px;
  line-height: 21.6px;
  margin: 0px 0px 10px;
  font-weight: 600;
}

.facilities-ds h2 {
  font-size: 50px;
  color: #054a91;
  line-height: 72px;
  font-weight: 600;
}

.facilities-ds p {
  font-size: 18px;
  line-height: 26px;
  margin: 10px 0px 15px;
  font-weight: 400;
  text-decoration: none solid rgb(119, 119, 119);
}

.services {
  margin: 10px 0;
  background-color: rgb(255, 255, 255);
  border-radius: 0;
  box-shadow: 1px 1.732px 60px 0 rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 100%;
  position: relative;
  border: 3px dashed #054a91;
}

.service-icon {
  opacity: 0.07;
  position: absolute;
  right: 5%;
  top: 0;
  z-index: 1;
}

.service-icon img {
  width: 120px;
}

.services h3 {
  font-size: 26px;
  margin: 15px 0;
  color: #054a91;
  line-height: 31.2px;
  font-weight: 600;
  text-decoration: none solid rgb(100, 66, 34);
}

.services p {
  font-size: 15px;
  color: #777777;
  line-height: 26px;
  margin: 0px 0px 15px;
  font-weight: 400;
  text-decoration: none solid rgb(119, 119, 119);
}

.services a {
  text-decoration: none;
  color: #385eab;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

/* ################## */
/* gallery */
.gallery-ds h2 {
  font-size: 50px;
  color: #054a91;
  line-height: 72px;
  font-weight: 600;
}

.gallery-ds p {
  font-size: 18px;
  line-height: 26px;
  margin: 10px 0px 15px;
  font-weight: 400;
  text-decoration: none solid rgb(119, 119, 119);
}

/* ################## */
/* about.html */
#about-bck-2 {
  background: url("img/5.jpg") rgba(0, 0, 0, 0.35);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  text-align: center;
  height: 70vh;
}

/* #################### */
/* rooms.html */
#rooms-bck {
  background: url("img/13.jpg") rgba(0, 0, 0, 0.35);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  text-align: center;
  height: 70vh;
  background-attachment: fixed;
}
.rooms-ds h5 {
  font-size: 22px;
  color: #054a91;
  line-height: 21.6px;
  margin: 0px 0px 10px;
  font-weight: 600;
  text-decoration: none solid rgb(100, 66, 34);
}

.rooms-ds h2 {
  font-size: 50px;
  color: #054a91;
  line-height: 72px;
  font-weight: 600;
  text-decoration: none solid rgb(16, 16, 16);
}

.rooms-ds p {
  font-size: 18px;
  color: #777777;
  line-height: 26px;
  margin: 10px 0px 15px;
  font-weight: 400;
  text-decoration: none solid rgb(119, 119, 119);
}

.button button a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.single-services .button button {
  padding: 12px 30px;
  background: #193B6B;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: relative;
  width: 40%;
}

.single-services {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 1px 1.732px 60px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  padding-bottom: 20px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}

.services-content {
  padding: 10px 10px;
}

.services-thumb img {
  width: 100%;
  height: 270px;
}

.services-content h4 {
  font-size: 30px;
  color: #054a91;
  line-height: 28.8px;
  font-weight: 600;
  text-decoration: none solid rgb(100, 66, 34);
}

.services-content p {
  font-size: 18px;
  color: #777777;
  line-height: 26px;
  font-weight: 400px;
  text-decoration: none solid rgb(119, 119, 119);
}

.icon ul {
  padding: 0;
  margin: 10px;
}
.icon ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

.icon ul li img {
  width: 30px;
}

/* #################### */
/* contact.html */

/* contact.html */
#contact-bck {
  background: url("img/20.jpg") rgba(0, 0, 0, 0.35);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  text-align: center;
  height: 70vh;
}
.info {
  border-top: 2px solid #054a91;
  margin: 20px 0;
}
.info i {
  font-size: 30px;
  padding: 20px;
  background-color: white;
  border-radius: 50px;
  margin: 10px 0;
  color: #054a91;
  transition: 1.5s ease;
}

.info i:hover {
  rotate: 360deg;
  cursor: pointer;
  transition: 1.5s ease;
}

.info p {
  margin-top: 25px;
  margin-left: 20px;
  font-size: 20px;
}

.info a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

/* ################## */
/* footer */

.contact-info h1 {
  font-size: 35px;
  color: white;
}

.contact-info i {
  color: white;
  margin: 0 20px;
}

.contact-info p {
  color: white;
  font-size: 20px;
}



.contact-info a:hover {
  color: white;
  transition: 0.5s ease;
  cursor: pointer;
}
.contact-info a {
  text-decoration: none;
  color: white;
}

.contact-info img {
  height: 50px;
}

.nav-footer h1 {
  color: white;
  font-size: 35px;
}

.nav-footer ul li {
  list-style: none;
  margin-left: -30px;
}

.nav-footer a {
  color: white;
  text-decoration: none;
  font-size: 25px;
}


.map h1 {
  color: white;
  font-size: 35px;
}

.navbar {
  -webkit-box-shadow: 0 0.5rem 0.375rem -0.375rem rgb(0 0 0 / 40%);
  box-shadow: 0 0.5rem 0.375rem -0.375rem rgb(0 0 0 / 40%);
  -webkit-transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s,
    opacity 0s ease-in-out 0s;
  transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s,
    opacity 0s ease-in-out 0s;
  overflow-x: hidden;
  background-color: #ffffff;
  /* background-image: linear-gradient(45deg, black 30%, blue 70%); */
}
.navbar-nav a {
  margin-left: 10px;
  font-size: 22px;
  font-weight: 500;
  /* color: rgb(117, 113, 113); */
}
.nav-link img {
  width: 25px;
  height: 15px;
}
.navbar-nav a {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  color: rgb(61, 59, 59);
  border-bottom: 1px solid transparent;
  position: relative;
}
.navbar-nav a:hover {
  color: #054a91;
  /* border-bottom: 1px solid #000000; */
}
.navbar-nav a.active {
  /* border-bottom: 1px solid #000000; */
  color: #122533 !important;
}
.navbar-nav a::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #054a91;
  position: absolute;
  bottom: -0.25rem;
  left: 50%;
  transition: width 0.4s, left 0.4s;
}
.navbar-nav a:hover::before {
  width: 100%;
  left: 0;
}

/* ################## */
/* testimonials */
#testimonials {
  background: url("img/5.jpg") rgba(0, 0, 0, 0.35);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
  padding: 100px 0;
}

.item {
  padding: 50px 0;
}

.item i {
  color: white;
  font-size: 50px;
}

.item h2 {
  color: white;
}

.item p {
  font-size: 18px;
  color: white;
}

/* ################## */
/* mobile */
@media (max-width: 767px) {
  .mobile-none {
    display: none;
  }

  .index-ds-header h2 {
    font-size: 27px !important;
  }
  .index-ds-header h1 {
    font-size: 45px !important;
  }

  .about-ds h2 {
    font-size: 35px !important;
  }

  .about-ds span {
    font-size: 35px !important;
  }

  .about-ds p {
    font-size: 17px !important;
  }

  .facilities-ds h2 {
    font-size: 35px !important;
  }

  .facilities-ds p {
    font-size: 17px !important;
  }

  .gallery-ds h2 {
    font-size: 35px !important;
  }

  .gallery-ds p {
    font-size: 17px !important;
  }

  #rooms-bck span {
    font-size: 35px !important;
  }

  #rooms-bck h2 {
    font-size: 35px !important;
  }

  .rooms-ds h2 {
    font-size: 35px !important;
  }

  .rooms-ds p {
    font-size: 17px !important;
  }

  #contact-bck h2 {
    font-size: 35px !important;
  }

  #contact-bck span {
    font-size: 35px !important;
  }

  .cont-info h2 {
    font-size: 27px !important;
  }

  .cont-info h1 {
    font-size: 35px !important;
  }

  .info p {
    font-size: 17px !important;
  }
}

@media (max-width: 900px) {
 

  .about-img img {
    height: 500px;
    width: 100%;
  }

  .single-services .button a {
    font-size: 17px;
  }

  .testi-ds h4 {
    font-size: 30px !important;
  }

  .about-ds span h1{
    font-size: 30px !important;
  }

  .about-ds p {
    font-size: 18px !important;
  }

  .facilities-ds h2 {
    font-size: 35px !important;
  }

  .gallery-ds h2 {
    font-size: 35px !important;
  }

  .contact-logo h1 {
    font-size: 25px !important;
  }

  .contact-info p {
    font-size: 16px !important;
  }

  .nav-footer h1 {
    font-size: 25px !important;
  }

  .nav-footer a {
    font-size: 20px !important;
  }

  .map h1 {
    font-size: 25px !important;
  }

  .index-ds-header h1 {
    font-size: 40px !important;
  }

  .index-ds-header h2 {
    font-size: 30px !important;
  }

  .rooms-bck-ds h1 {
    font-size: 40px !important;
  }

  .rooms-bck-ds h2 {
    font-size: 30px !important;
  }

  .contact-bck-ds h1 {
    font-size: 40px !important;
  }

  .contact-bck-ds h2 {
    font-size: 30px !important;
  }

  .about-img img {
    margin: 10px 0;
  }

  #rooms .row {
    display: flex;
    flex-direction: column-reverse;
  }

  .rooms-ds {
    text-align: center;
  }

  .services-content {
    text-align: center;
  }

  .icon {
    text-align: center;
  }
}
/* annimation */

.fadeinleft {
  opacity: 0;
  transform: translateX(100px);
  transition: all 1s ease-out;
}

.fadeinright {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 1s ease-out;
}

.fadeindown {
  opacity: 0;
  transform: translateY(-100px);
  transition: all 1.2s ease-out;
}

.fadeinup {
  opacity: 0;
  transform: translateY(100px);
  transition: all 1.2s ease-out;
}

.fade-in {
  opacity: 0;
  transition: all 1.3s ease-in;
}

.active-left,
.active,
.active-right,
.active-down,
.active-up {
  opacity: 1;
  transform: translateX(0);
  transform: translateY(0);
}

.fadein {
  opacity: 0;
}
